@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AUTHNZ</h1>
    <p class="lead">Sample authentication and authorisation with ASP.NET identity provider.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>@Html.ActionLink("Go to secured controller", "Index", "Secured")</p>

    </div>
</div>